<div class="language-selector">
    <!-- Dla postów -->
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}

    <!-- Dla stron statycznych -->
    {% assign pages=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}

    <!-- Jeśli mamy posty lub strony z tym samym identyfikatorem języka -->
    {% if posts.size > 0 or pages.size > 0 %}
    <!-- Linki do wersji w innych językach dla postów -->
    {% for post in posts %}
    {% if post.lang != page.lang %}
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
    {% endif %}
    {% endfor %}

    <!-- Linki do wersji w innych językach dla stron -->
    {% for page in pages %}
    {% if page.lang != page.lang %}
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
    {% endif %}
    {% endfor %}

    <!-- Jeśli nie ma postów/stron z tym samym identyfikatorem, użyj domyślnych linków języków -->
    {% else %}
    {% for lang in site.languages %}
    {% if lang != page.lang %}
    <a href="/{{ lang }}/" class="{{ lang }}">{{ lang }}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>